In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import seaborn as sns

In [6]:
# used below code to concatenate two csv files 
path = r'/home/aydin/Desktop/dsi_lax3/capstones/capstone3_data'#path to the files
all_files = glob.glob(os.path.join(path, "*.csv")) 
df_from_each_file = (pd.read_csv(f, engine = 'python') for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

In [7]:
df.shape

(1844487, 78)

In [8]:
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,-9999,R1297,-9999,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
1,Arizona Public Service,-9999,R1268,-9999,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
2,Arizona Public Service,-9999,R1023,-9999,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
3,Arizona Public Service,-9999,R1180,-9999,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
4,Arizona Public Service,-9999,R1451,-9999,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0

In [9]:
# checking list of columns
df.columns

Index(['data_provider_1', 'data_provider_2', 'system_ID_1', 'system_ID_2',
       'installation_date', 'system_size_DC', 'total_installed_price',
       'rebate_or_grant', 'customer_segment', 'expansion_system',
       'multiple_phase_system', 'new_construction', 'tracking',
       'ground_mounted', 'zip_code', 'city', 'state',
       'utility_service_territory', 'third_party_owned', 'installer_name',
       'self_installed', 'azimuth_1', 'azimuth_2', 'azimuth_3', 'tilt_1',
       'tilt_2', 'tilt_3', 'module_manufacturer_1', 'module_model_1',
       'module_quantity_1', 'module_manufacturer_2', 'module_model_2',
       'module_quantity_2', 'module_manufacturer_3', 'module_model_3',
       'module_quantity_3', 'additional_modules', 'technology_module_1',
       'technology_module_2', 'technology_module_3', 'BIPV_module_1',
       'BIPV_module_2', 'BIPV_module_3', 'bifacial_module_1',
       'bifacial_module_2', 'bifacial_module_3', 'nameplate_capacity_module_1',
       'nameplate_capacity_module_2', 'nameplate_capacity_module_3',
       'efficiency_module_1', 'efficiency_module_2', 'efficiency_module_3',
       'inverter_manufacturer_1', 'inverter_model_1', 'inverter_quantity_1',
       'inverter_manufacturer_2', 'inverter_model_2', 'inverter_quantity_2',
       'inverter_manufacturer_3', 'inverter_model_3', 'inverter_quantity_3',
       'additional_inverters', 'micro_inverter_1', 'micro_inverter_2',
       'micro_inverter_3', 'solar_storage_hybrid_inverter_1',
       'solar_storage_hybrid_inverter_2', 'solar_storage_hybrid_inverter_3',
       'built_in_meter_inverter_1', 'built_in_meter_inverter_2',
       'built_in_meter_inverter_3', 'output_capacity_inverter_1',
       'output_capacity_inverter_2', 'output_capacity_inverter_3',
       'DC_optimizer', 'inverter_loading_ratio', 'battery_rated_capacity_kW',
       'battery_rated_capacity_kWh'],
      dtype='object')

In [29]:
df.replace(-9999, np.nan, inplace=True)
df.replace('-9999', np.nan, inplace=True)
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,NaN,R1297,NaN,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona Public Service,NaN,R1268,NaN,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona Public Service,NaN,R1023,NaN,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona Public Service,NaN,R1180,NaN,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arizona Public Service,NaN,R1451,NaN,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['total_installed_price'].notna().sum()

1421842

In [18]:
df['customer_segment'].value_counts()/1844487

RES           0.952124
COM           0.019627
-9999         0.011787
NON-RES       0.009777
GOV           0.002763
NON-PROFIT    0.002075
SCHOOL        0.001846
Name: customer_segment, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844487 entries, 0 to 1844486
Data columns (total 78 columns):
 #   Column                           Dtype
---  ------                           -----
 0   data_provider_1                  object
 1   data_provider_2                  object
 2   system_ID_1                      object
 3   system_ID_2                      object
 4   installation_date                object
 5   system_size_DC                   float64
 6   total_installed_price            float64
 7   rebate_or_grant                  float64
 8   customer_segment                 object
 9   expansion_system                 int64
 10  multiple_phase_system            int64
 11  new_construction                 float64
 12  tracking                         float64
 13  ground_mounted                   float64
 14  zip_code                         object
 15  city                             object
 16  state                            object
 17  utility_service_territory        object
 18  third_party_owned                float64
 19  installer_name                   object
 20  self_installed                   float64
 21  azimuth_1                        float64
 22  azimuth_2                        float64
 23  azimuth_3                        float64
 24  tilt_1                           float64
 25  tilt_2                           float64
 26  tilt_3                           float64
 27  module_manufacturer_1            object
 28  module_model_1                   object
 29  module_quantity_1                float64
 30  module_manufacturer_2            object
 31  module_model_2                   object
 32  module_quantity_2                float64
 33  module_manufacturer_3            object
 34  module_model_3                   object
 35  module_quantity_3                float64
 36  additional_modules               float64
 37  technology_module_1              object
 38  technology_module_2              object
 39  technology_module_3              object
 40  BIPV_module_1                    float64
 41  BIPV_module_2                    float64
 42  BIPV_module_3                    float64
 43  bifacial_module_1                float64
 44  bifacial_module_2                float64
 45  bifacial_module_3                float64
 46  nameplate_capacity_module_1      float64
 47  nameplate_capacity_module_2      float64
 48  nameplate_capacity_module_3      float64
 49  efficiency_module_1              float64
 50  efficiency_module_2              float64
 51  efficiency_module_3              float64
 52  inverter_manufacturer_1          object
 53  inverter_model_1                 object
 54  inverter_quantity_1              float64
 55  inverter_manufacturer_2          object
 56  inverter_model_2                 object
 57  inverter_quantity_2              float64
 58  inverter_manufacturer_3          object
 59  inverter_model_3                 object
 60  inverter_quantity_3              float64
 61  additional_inverters             float64
 62  micro_inverter_1                 float64
 63  micro_inverter_2                 float64
 64  micro_inverter_3                 float64
 65  solar_storage_hybrid_inverter_1  float64
 66  solar_storage_hybrid_inverter_2  float64
 67  solar_storage_hybrid_inverter_3  float64
 68  built_in_meter_inverter_1        float64
 69  built_in_meter_inverter_2        float64
 70  built_in_meter_inverter_3        float64
 71  output_capacity_inverter_1       float64
 72  output_capacity_inverter_2       float64
 73  output_capacity_inverter_3       float64
 74  DC_optimizer                     float64
 75  inverter_loading_ratio           float64
 76  battery_rated_capacity_kW        float64
 77  battery_rated_capacity_kWh       float64
dtypes: float64(50), int64(2), object(26)
memory usage: 1.1+ GB

In [27]:
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,-9999,R1297,-9999,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona Public Service,-9999,R1268,-9999,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona Public Service,-9999,R1023,-9999,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona Public Service,-9999,R1180,-9999,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arizona Public Service,-9999,R1451,-9999,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN