In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import seaborn as sns

In [6]:
# used below code to concatenate two csv files 
path = r'/home/aydin/Desktop/dsi_lax3/capstones/capstone3_data'#path to the files
all_files = glob.glob(os.path.join(path, "*.csv")) 
df_from_each_file = (pd.read_csv(f, engine = 'python') for f in all_files)
df = pd.concat(df_from_each_file, ignore_index=True)

In [7]:
df.shape

(1844487, 78)

In [8]:
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,-9999,R1297,-9999,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
1,Arizona Public Service,-9999,R1268,-9999,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
2,Arizona Public Service,-9999,R1023,-9999,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
3,Arizona Public Service,-9999,R1180,-9999,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0
4,Arizona Public Service,-9999,R1451,-9999,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,-9999,-9999,-9999,-9999.0,-9999.0,-9999.0,-9999,-9999.0,-9999.0,-9999.0

In [9]:
# checking list of columns
df.columns

Index(['data_provider_1', 'data_provider_2', 'system_ID_1', 'system_ID_2',
       'installation_date', 'system_size_DC', 'total_installed_price',
       'rebate_or_grant', 'customer_segment', 'expansion_system',
       'multiple_phase_system', 'new_construction', 'tracking',
       'ground_mounted', 'zip_code', 'city', 'state',
       'utility_service_territory', 'third_party_owned', 'installer_name',
       'self_installed', 'azimuth_1', 'azimuth_2', 'azimuth_3', 'tilt_1',
       'tilt_2', 'tilt_3', 'module_manufacturer_1', 'module_model_1',
       'module_quantity_1', 'module_manufacturer_2', 'module_model_2',
       'module_quantity_2', 'module_manufacturer_3', 'module_model_3',
       'module_quantity_3', 'additional_modules', 'technology_module_1',
       'technology_module_2', 'technology_module_3', 'BIPV_module_1',
       'BIPV_module_2', 'BIPV_module_3', 'bifacial_module_1',
       'bifacial_module_2', 'bifacial_module_3', 'nameplate_capacity_module_1',
       'nameplate_capacity_module_2', 'nameplate_capacity_module_3',
       'efficiency_module_1', 'efficiency_module_2', 'efficiency_module_3',
       'inverter_manufacturer_1', 'inverter_model_1', 'inverter_quantity_1',
       'inverter_manufacturer_2', 'inverter_model_2', 'inverter_quantity_2',
       'inverter_manufacturer_3', 'inverter_model_3', 'inverter_quantity_3',
       'additional_inverters', 'micro_inverter_1', 'micro_inverter_2',
       'micro_inverter_3', 'solar_storage_hybrid_inverter_1',
       'solar_storage_hybrid_inverter_2', 'solar_storage_hybrid_inverter_3',
       'built_in_meter_inverter_1', 'built_in_meter_inverter_2',
       'built_in_meter_inverter_3', 'output_capacity_inverter_1',
       'output_capacity_inverter_2', 'output_capacity_inverter_3',
       'DC_optimizer', 'inverter_loading_ratio', 'battery_rated_capacity_kW',
       'battery_rated_capacity_kWh'],
      dtype='object')

In [29]:
df.replace(-9999, np.nan, inplace=True)
df.replace('-9999', np.nan, inplace=True)
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,NaN,R1297,NaN,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona Public Service,NaN,R1268,NaN,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona Public Service,NaN,R1023,NaN,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona Public Service,NaN,R1180,NaN,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arizona Public Service,NaN,R1451,NaN,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['total_installed_price'].notna().sum()

1421842

In [30]:
df['customer_segment'].value_counts()/1844487

RES           0.952124
COM           0.019627
NON-RES       0.009777
GOV           0.002763
NON-PROFIT    0.002075
SCHOOL        0.001846
Name: customer_segment, dtype: float64

In [32]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1844487 entries, 0 to 1844486
Data columns (total 78 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   data_provider_1                  1844487 non-null  object
 1   data_provider_2                  315579 non-null   object
 2   system_ID_1                      1746613 non-null  object
 3   system_ID_2                      258918 non-null   object
 4   installation_date                1844487 non-null  object
 5   system_size_DC                   1830826 non-null  float64
 6   total_installed_price            1421842 non-null  float64
 7   rebate_or_grant                  1692702 non-null  float64
 8   customer_segment                 1822746 non-null  object
 9   expansion_system                 1844487 non-null  int64
 10  multiple_phase_system            1844487 non-null  int64
 11  new_construction                 313852 non-null   float64
 12  tracking                         1156224 non-null  float64
 13  ground_mounted                   917047 non-null   float64
 14  zip_code                         1758554 non-null  object
 15  city                             1699387 non-null  object
 16  state                            1844487 non-null  object
 17  utility_service_territory        1775182 non-null  object
 18  third_party_owned                1565063 non-null  float64
 19  installer_name                   1652992 non-null  object
 20  self_installed                   1451891 non-null  float64
 21  azimuth_1                        903007 non-null   float64
 22  azimuth_2                        99521 non-null    float64
 23  azimuth_3                        31479 non-null    float64
 24  tilt_1                           904761 non-null   float64
 25  tilt_2                           99549 non-null    float64
 26  tilt_3                           31486 non-null    float64
 27  module_manufacturer_1            1356435 non-null  object
 28  module_model_1                   1354361 non-null  object
 29  module_quantity_1                1357146 non-null  float64
 30  module_manufacturer_2            183694 non-null   object
 31  module_model_2                   183689 non-null   object
 32  module_quantity_2                71255 non-null    float64
 33  module_manufacturer_3            141627 non-null   object
 34  module_model_3                   141626 non-null   object
 35  module_quantity_3                19340 non-null    float64
 36  additional_modules               1255369 non-null  float64
 37  technology_module_1              1511538 non-null  object
 38  technology_module_2              193877 non-null   object
 39  technology_module_3              121497 non-null   object
 40  BIPV_module_1                    1422665 non-null  float64
 41  BIPV_module_2                    71477 non-null    float64
 42  BIPV_module_3                    22252 non-null    float64
 43  bifacial_module_1                1437133 non-null  float64
 44  bifacial_module_2                77919 non-null    float64
 45  bifacial_module_3                22348 non-null    float64
 46  nameplate_capacity_module_1      1299043 non-null  float64
 47  nameplate_capacity_module_2      66887 non-null    float64
 48  nameplate_capacity_module_3      21367 non-null    float64
 49  efficiency_module_1              1252709 non-null  float64
 50  efficiency_module_2              63853 non-null    float64
 51  efficiency_module_3              20583 non-null    float64
 52  inverter_manufacturer_1          1440726 non-null  object
 53  inverter_model_1                 902281 non-null   object
 54  inverter_quantity_1              1345471 non-null  float64
 55  inverter_manufacturer_2          173749 non-null   object
 56  inverter_model_2                 159850 non-null   object
 57  inverter_quantity_2              54199 non-null    float64
 58  inverter_manufacturer_3          126509 non-null   object
 59  inverter_model_3                 124697 non-null   object
 60  inverter_quantity_3              4230 non-null     float64
 61  additional_inverters             1250426 non-null  float64
 62  micro_inverter_1                 1469786 non-null  float64
 63  micro_inverter_2                 57826 non-null    float64
 64  micro_inverter_3                 6268 non-null     float64
 65  solar_storage_hybrid_inverter_1  1179445 non-null  float64
 66  solar_storage_hybrid_inverter_2  47866 non-null    float64
 67  solar_storage_hybrid_inverter_3  0 non-null        float64
 68  built_in_meter_inverter_1        1308943 non-null  float64
 69  built_in_meter_inverter_2        52935 non-null    float64
 70  built_in_meter_inverter_3        5858 non-null     float64
 71  output_capacity_inverter_1       1208728 non-null  float64
 72  output_capacity_inverter_2       48506 non-null    float64
 73  output_capacity_inverter_3       5160 non-null     float64
 74  DC_optimizer                     1472772 non-null  float64
 75  inverter_loading_ratio           1024022 non-null  float64
 76  battery_rated_capacity_kW        16860 non-null    float64
 77  battery_rated_capacity_kWh       8529 non-null     float64
dtypes: float64(50), int64(2), object(26)
memory usage: 1.1+ GB

In [27]:
df.head()

,data_provider_1,data_provider_2,system_ID_1,system_ID_2,installation_date,system_size_DC,total_installed_price,rebate_or_grant,customer_segment,expansion_system,...,built_in_meter_inverter_1,built_in_meter_inverter_2,built_in_meter_inverter_3,output_capacity_inverter_1,output_capacity_inverter_2,output_capacity_inverter_3,DC_optimizer,inverter_loading_ratio,battery_rated_capacity_kW,battery_rated_capacity_kWh
0,Arizona Public Service,-9999,R1297,-9999,03-Feb-2009 00:00:00,8.64,57162.77,25920.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona Public Service,-9999,R1268,-9999,26-Jan-2009 00:00:00,3.40,26507.20,10500.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona Public Service,-9999,R1023,-9999,15-Oct-2008 00:00:00,4.80,36292.00,12960.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona Public Service,-9999,R1180,-9999,02-Feb-2009 00:00:00,1.52,13230.00,4560.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arizona Public Service,-9999,R1451,-9999,30-Mar-2009 00:00:00,5.10,40370.32,15300.0,RES,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN